<p id="notice"><%= notice %></p>

<h1>Listing Vampires</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Sire</th>
      <th>Staked</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <!-- iterate through all the vampires! -->
    <% @vampires.each do |vampire| %>
      <tr>
        <td><!-- display each vampire's name --><%= vampire.name %> </td>
        <td><!-- display each vampire's age --><%= vampire.age %></td>
        <td><!-- display each vampire's sire --><%= vampire.sire %></td>
        <td><<!-- display whether each vampire has been staked (boolean) --><%= vampire.staked %></td>
        <td><!-- add a link to each vampire's show page -->
          <%= link_to "Show!", vampire_path(vampire) %>
        </td>
        <td><!-- add a link to each vampire's edit page -->
          <%= link_to "Edit!", edit_vampire_path(vampire)%>
        </td>
        <td><!-- add a link to delete this vampire -->
          <%= link_to "Delete!", vampire, method: :delete, data: {confirm: "Are you sure you want to delete this vampire?"}%>
        </td>
      </tr>
    <!-- end the iterator here -->
    <% end %>
  </tbody>
</table>

<br>

<!-- add a link to the new vampire page -->
<%= link_to "New Vampire", new_vampire_path %>
