<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vampire.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @vampire.age %>
</p>

<p>
  <strong>Sire:</strong>
  <%= @vampire.sire %>
</p>

<p>
  <strong>Staked:</strong>
  <%= @vampire.staked %>
</p>

<%= link_to 'Edit', edit_vampire_path(@vampire) %> |
<%= link_to 'Back', vampires_path %>
